.assignment1 button{
    margin: 5px;
    border: 1000px yellow #eee;
    background-color: black;
    font-size: x-large;
    color: rgba(255, 253, 253, 0.603);
}

.assignment1 textarea{
    margin: 10px;
    border: 40px blueviolet #eee;
    color: rgb(46, 7, 75) ;
    background-color: palevioletred;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}

