body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formAssignment{
  border: solid red ;
  padding: 10px;
  margin: 20px;
  
}

.inputclass{
  background-color: black;
  border: 2px solid mediumpurple ;
  color: yellowgreen;


}

.inputclass2{
  background-color: seagreen;
  border: 2px solid black ;
  color: crimson;

}